---
const {
  slug,
  title,
  description,
  date,
  tags
} = Astro.props;
---


<a class="card" href=`/blog/${slug}/`>
  <h2>{title}</h2>
  <p>{description}</p>
  <p class="post-date"><em>Posted: {date.toDateString()}</em></p>
  <div class="tag-container">
    {tags.map(tag => (
      <span class="tag">{tag}</span>
    ))}
  </div>
</a>
