---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostCardLayout from "../layouts/PostCardLayout.astro";
import {getCollection} from "astro:content";

const posts = await getCollection("blog");
posts.sort((x, y) => x.data.date - y.data.date);
---

<BaseLayout>
  <div class="blog">
    <h1>Blog</h1>
    <div class="posts">
      {posts.map(post => (
        <PostCardLayout
          slug={post.slug}
          title={post.data.title},
          description={post.data.description},
          date={post.data.date},
          tags={post.data.tags}
        ></PostCardLayout>
      ))}
    </div>
  </div>
</BaseLayout>
